/*Museo Sans Cyrl*/
@font-face{
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl 100.otf');
	font-weight: 100;
	font-style: normal;
}

@font-face{
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl 300.otf');
	font-weight: 300;
	font-style: normal;
}

@font-face{
	font-family: 'Museo Sans Cyrl';
	src: url('../fonts/MuseoSansCyrl_700.otf');
	font-weight: 700;
	font-style: normal;
}